<p id="notice"><%= notice %></p>

<p>
  <strong>Action:</strong>
  <%= @command.action %>
</p>

<p>
  <strong>Device:</strong>
  <%= @command.device %>
</p>

<%= link_to 'Edit', edit_command_path(@command) %> |
<%= link_to 'Back', commands_path %>
